
/*
RIT Colors
https://www.rit.edu/brandportal/colors
orange: #F76902
white: #FFFFFF
black: #000000
Light Gray: #D0D3D4
MEd Gray: #A2AAAD
Dark Gray: #7C878E

*/
/*
attribute
.class - apply css to class (class="foo")
#id - apply css to id (id="bar")

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_header
*/
* {
    box-sizing: border-box;
}

/* Generic */


body{
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans‑serif;
    margin: 0;
}

main{
    margin: 1em 1em;
}

/*Header Details*/
header{
    background-color: #F76902;
    padding: .5em;
    color: white;

}


/*Footer Details*/
footer{
    background-color: black;
    color: white;
    font-size: small;
}

.footer-link-box a {
    color: #A2AAAD;
}
.footer-link-box a:hover{
    color: #A2AAAD;
}

.footer-link-box ul{
    list-style: none;
    text-align: left;
}

.footer-link-box li{
    margin-top: 10px;
}

.footer-link-box li.title{
    margin-bottom: 20px;
}

/*div{*/
/*    border-style: solid;*/
/*}*/

/*CSS Classes*/
.row {
    display: flex;
}

.column {
    display: inline-block;
    margin: auto;
}

.shuttle-container{
    display: inline-block;
    width: 40%;
    padding: .5em;
}

.shuttle-container table{
    /*border: solid 2px black;*/
    width: 100%;
    border-collapse: collapse;
    /*justify-content: center;*/
}

.shuttle-container tr:nth-child(odd) {
    background-color: #D0D3D4;
}

.shuttle-container td{
    padding: .5em .5em;
    /*border-style: solid;*/
}

.shuttle-container .shuttle-name a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    width: 40%;
}
.shuttle-container .shuttle-status{
    width: 20%;
}
.shuttle-container .shuttle-status div{
    text-align: center;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;
    border-color: black;
    padding: 5px;
}

.shuttle-container .shuttle-status .active {
    background-color: #84BD00;
}

.shuttle-container .shuttle-status .inactive {
    background-color: #DA291C;
}

.shuttle-container .location{
    width: 40%;
}

.shuttle-container .location .inactive{
    text-align: center;
    font-weight: bold;
    padding: 1.5em;
}





.planner-container{
    display: inline-block;
    width: 60%;
}
