
/*
RIT Colors
https://www.rit.edu/brandportal/colors
orange: #F76902
white: #FFFFFF
black: #000000
Light Gray: #D0D3D4
MEd Gray: #A2AAAD
Dark Gray: #7C878E

*/
/*
attribute
.class - apply css to class (class="foo")
#id - apply css to id (id="bar")

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_responsive_header
*/
* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --orange: #F76902;
    --light-gray: #D0D3D4;
    --med-gray: #A2AAAD;
    --dark-gray: #7C878E;
    --light-gray-accent: #D7D2CB;
}

/* Generic */


body{
    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans‑serif;
    margin: 0;
}

hr.vertical {
    /*border-left: 2px solid black;*/
    /*width:0;*/
    border:2px solid black;
    position: absolute;
}

/*main{*/
/*    margin: 1em 1em;*/
/*}*/

/*Header Details*/
header{
    background-color: var(--orange);
    height: 5em;
    padding: 1em;
    color: white;
    border-bottom: solid black;
}

/*Nav bar*/

.nav-dropdown{
    border: none;
    cursor: pointer;
    outline: none;
    background: var(--med-gray);
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    background-image: url("../assets/dropdown.svg");
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance:none;
}

.nav-tab{
    border: none;
    cursor: pointer;
    outline: none;
    background: black;
    color: white;
    font-size: large;
    font-weight: bold;
    width: 25%;
    transition-duration: 0.4s;
}

.nav-tab:focus{
    border: none;
    cursor: pointer;
    outline: none;
}

.nav-tab:hover{
    background-color: var(--dark-gray);
}

/* Shuttle Status */
.shuttle-status{
    border: 1px solid black;
    height: 6.25em;
    width: 100%;
}


/*Footer Details*/
footer{
    background-color: black;
    color: white;
    position: fixed;
    padding: 1em;
    bottom: 0;
    width: 100%;
}

.footer-link-box a {
    color: var(--med-gray);
}
.footer-link-box a:hover{
    color: var(--med-gray);
}

.footer-link-box ul{
    list-style: none;
    text-align: left;
}

.footer-link-box li{
    margin-top: 0.625em;
}

.footer-link-box li.title{
    margin-bottom: 1.25em;
}


/*CSS Classes*/
.row {
    display: flex;
}

.column {
    display: inline-block;
}

.horiz-center{
    margin: auto;
}

/*div {*/
/*    border-style: solid;*/
/*}*/